@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Estilos para el contenedor del formulario */
.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Estilos para el formulario */
form {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

label {
  font-family: "Montserrat", sans-serif;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  color: #444;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #555;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Estilos para el botón de registro */
.signup-button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #0062cc;
}

ul.form-errors {
  margin: 0;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  list-style: none;
  text-align: center;
}

ul.form-errors li {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  margin: 0 5px;
}

ul.form-errors li:before {
  content: "× ";
  color: #721c24;
}

ul.form-errors li a {
  color: #721c24;
  text-decoration: underline;
}

ul.form-errors li:first-child:before {
  content: "";
}

ul.form-errors li:last-child:after {
  content: "";
}

ul.form-errors li:first-child {
  margin-left: 0;
}

ul.form-errors li:last-child {
  margin-right: 0;
}

