{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}

    <div class="image-container">
        {% for image in images %}
          <div class="card">
            <img src="{{ image.image.url }}" alt="{{ image.name }}">
            <div class="card-info">
              <h3>{{ image.name }}</h3>
              <p>{{ image.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      
      
   
</body>
</html>